<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.system.dao.DictMapper" >
  <resultMap id="BaseResultMap" type="com.manager.entry.system.Dict" >
    <constructor >
      <idArg column="SS03_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DIR_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DIR_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="DIR_EXP" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATUS" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="CREATE_USER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_USER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="DELETE_FLAG" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    SS03_ID, DIR_ID, DIR_NAME, DIR_EXP, STATUS, CREATE_USER, CREATE_TIME, UPDATE_USER, 
    UPDATE_TIME, DELETE_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SS03
    where SS03_ID = #{ss03Id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SS03
    where SS03_ID = #{ss03Id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.manager.entry.system.Dict" >
    insert into SS03 (SS03_ID, DIR_ID, DIR_NAME, 
      DIR_EXP, STATUS, CREATE_USER, 
      CREATE_TIME, UPDATE_USER, UPDATE_TIME, 
      DELETE_FLAG)
    values (#{ss03Id,jdbcType=VARCHAR}, #{dirId,jdbcType=VARCHAR}, #{dirName,jdbcType=VARCHAR}, 
      #{dirExp,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.manager.entry.system.Dict" >
    insert into SS03
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ss03Id != null" >
        SS03_ID,
      </if>
      <if test="dirId != null" >
        DIR_ID,
      </if>
      <if test="dirName != null" >
        DIR_NAME,
      </if>
      <if test="dirExp != null" >
        DIR_EXP,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ss03Id != null" >
        #{ss03Id,jdbcType=VARCHAR},
      </if>
      <if test="dirId != null" >
        #{dirId,jdbcType=VARCHAR},
      </if>
      <if test="dirName != null" >
        #{dirName,jdbcType=VARCHAR},
      </if>
      <if test="dirExp != null" >
        #{dirExp,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.manager.entry.system.Dict" >
    update SS03
    <set >
      <if test="dirId != null" >
        DIR_ID = #{dirId,jdbcType=VARCHAR},
      </if>
      <if test="dirName != null" >
        DIR_NAME = #{dirName,jdbcType=VARCHAR},
      </if>
      <if test="dirExp != null" >
        DIR_EXP = #{dirExp,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where SS03_ID = #{ss03Id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manager.entry.system.Dict" >
    update SS03
    set DIR_ID = #{dirId,jdbcType=VARCHAR},
      DIR_NAME = #{dirName,jdbcType=VARCHAR},
      DIR_EXP = #{dirExp,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      DELETE_FLAG = #{deleteFlag,jdbcType=CHAR}
    where SS03_ID = #{ss03Id,jdbcType=VARCHAR}
  </update>
</mapper>