<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.system.dao.MenuPermsMapper" >
  <resultMap id="BaseResultMap" type="com.manager.entry.system.MenuPerms" >
    <constructor >
      <arg column="sys_menu_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="perms_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="perms_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="remark" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.manager.entry.system.MenuPerms" >
    insert into sys_menu_perms (sys_menu_id, perms_code, perms_name, 
      remark)
    values (#{sysMenuId,jdbcType=INTEGER}, #{permsCode,jdbcType=VARCHAR}, #{permsName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.manager.entry.system.MenuPerms" >
    insert into sys_menu_perms
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sysMenuId != null" >
        sys_menu_id,
      </if>
      <if test="permsCode != null" >
        perms_code,
      </if>
      <if test="permsName != null" >
        perms_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sysMenuId != null" >
        #{sysMenuId,jdbcType=INTEGER},
      </if>
      <if test="permsCode != null" >
        #{permsCode,jdbcType=VARCHAR},
      </if>
      <if test="permsName != null" >
        #{permsName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>