<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.system.dao.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.manager.entry.system.Menu" >
    <constructor >
      <idArg column="SS04_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MENU_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MENU_OREDR" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="MENU_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="MENU_PATH" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="IF_ROOT_NODE" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="STATUS" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="CREATE_USER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_USER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="DELETE_FLAG" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    SS04_ID, MENU_ID, MENU_OREDR, MENU_NAME, MENU_PATH, IF_ROOT_NODE, STATUS, CREATE_USER, 
    CREATE_TIME, UPDATE_USER, UPDATE_TIME, DELETE_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SS04
    where SS04_ID = #{ss04Id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SS04
    where SS04_ID = #{ss04Id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.manager.entry.system.Menu" >
    insert into SS04 (SS04_ID, MENU_ID, MENU_OREDR, 
      MENU_NAME, MENU_PATH, IF_ROOT_NODE, 
      STATUS, CREATE_USER, CREATE_TIME, 
      UPDATE_USER, UPDATE_TIME, DELETE_FLAG
      )
    values (#{ss04Id,jdbcType=VARCHAR}, #{menuId,jdbcType=VARCHAR}, #{menuOredr,jdbcType=CHAR}, 
      #{menuName,jdbcType=VARCHAR}, #{menuPath,jdbcType=VARCHAR}, #{ifRootNode,jdbcType=CHAR}, 
      #{status,jdbcType=CHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.manager.entry.system.Menu" >
    insert into SS04
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ss04Id != null" >
        SS04_ID,
      </if>
      <if test="menuId != null" >
        MENU_ID,
      </if>
      <if test="menuOredr != null" >
        MENU_OREDR,
      </if>
      <if test="menuName != null" >
        MENU_NAME,
      </if>
      <if test="menuPath != null" >
        MENU_PATH,
      </if>
      <if test="ifRootNode != null" >
        IF_ROOT_NODE,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ss04Id != null" >
        #{ss04Id,jdbcType=VARCHAR},
      </if>
      <if test="menuId != null" >
        #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="menuOredr != null" >
        #{menuOredr,jdbcType=CHAR},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPath != null" >
        #{menuPath,jdbcType=VARCHAR},
      </if>
      <if test="ifRootNode != null" >
        #{ifRootNode,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.manager.entry.system.Menu" >
    update SS04
    <set >
      <if test="menuId != null" >
        MENU_ID = #{menuId,jdbcType=VARCHAR},
      </if>
      <if test="menuOredr != null" >
        MENU_OREDR = #{menuOredr,jdbcType=CHAR},
      </if>
      <if test="menuName != null" >
        MENU_NAME = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuPath != null" >
        MENU_PATH = #{menuPath,jdbcType=VARCHAR},
      </if>
      <if test="ifRootNode != null" >
        IF_ROOT_NODE = #{ifRootNode,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where SS04_ID = #{ss04Id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manager.entry.system.Menu" >
    update SS04
    set MENU_ID = #{menuId,jdbcType=VARCHAR},
      MENU_OREDR = #{menuOredr,jdbcType=CHAR},
      MENU_NAME = #{menuName,jdbcType=VARCHAR},
      MENU_PATH = #{menuPath,jdbcType=VARCHAR},
      IF_ROOT_NODE = #{ifRootNode,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      DELETE_FLAG = #{deleteFlag,jdbcType=CHAR}
    where SS04_ID = #{ss04Id,jdbcType=VARCHAR}
  </update>
</mapper>