<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.system.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.manager.entry.system.Role" >
    <constructor >
      <idArg column="SS02_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="USER_ROLE_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="USER_ROLE_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="REMARKS" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="STATUS" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="CREATE_USER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="CREATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="UPDATE_USER" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="UPDATE_TIME" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="DELETE_FLAG" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    SS02_ID, USER_ROLE_ID, USER_ROLE_NAME, REMARKS, STATUS, CREATE_USER, CREATE_TIME, 
    UPDATE_USER, UPDATE_TIME, DELETE_FLAG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from SS02
    where SS02_ID = #{ss02Id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from SS02
    where SS02_ID = #{ss02Id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.manager.entry.system.Role" >
    insert into SS02 (SS02_ID, USER_ROLE_ID, USER_ROLE_NAME, 
      REMARKS, STATUS, CREATE_USER, 
      CREATE_TIME, UPDATE_USER, UPDATE_TIME, 
      DELETE_FLAG)
    values (#{ss02Id,jdbcType=VARCHAR}, #{userRoleId,jdbcType=VARCHAR}, #{userRoleName,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{deleteFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.manager.entry.system.Role" >
    insert into SS02
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ss02Id != null" >
        SS02_ID,
      </if>
      <if test="userRoleId != null" >
        USER_ROLE_ID,
      </if>
      <if test="userRoleName != null" >
        USER_ROLE_NAME,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createUser != null" >
        CREATE_USER,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateUser != null" >
        UPDATE_USER,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ss02Id != null" >
        #{ss02Id,jdbcType=VARCHAR},
      </if>
      <if test="userRoleId != null" >
        #{userRoleId,jdbcType=VARCHAR},
      </if>
      <if test="userRoleName != null" >
        #{userRoleName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.manager.entry.system.Role" >
    update SS02
    <set >
      <if test="userRoleId != null" >
        USER_ROLE_ID = #{userRoleId,jdbcType=VARCHAR},
      </if>
      <if test="userRoleName != null" >
        USER_ROLE_NAME = #{userRoleName,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createUser != null" >
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null" >
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where SS02_ID = #{ss02Id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manager.entry.system.Role" >
    update SS02
    set USER_ROLE_ID = #{userRoleId,jdbcType=VARCHAR},
      USER_ROLE_NAME = #{userRoleName,jdbcType=VARCHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      DELETE_FLAG = #{deleteFlag,jdbcType=CHAR}
    where SS02_ID = #{ss02Id,jdbcType=VARCHAR}
  </update>
</mapper>