<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.tour.dao.DocumentShowMapper">
  <resultMap id="BaseResultMap" type="com.manager.entry.tour.DocumentShow">
    <constructor>
      <idArg column="SC020101_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FILE_SOURCE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FILE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="FILE_NUM" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FILE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="FILE_URL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STATUS" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="CREATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="DELETE_FLAG" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    SC02010101_ID, FILE_SOURCE, FILE_TIME, FILE_NUM, FILE_NAME, FILE_URL, STATUS, CREATE_USER, CREATE_TIME,
    UPDATE_USER, UPDATE_TIME, DELETE_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SC02010101
    where SC020101_ID = #{sc020101Id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SC02010101
    where SC020101_ID = #{sc020101Id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.manager.entry.tour.DocumentShow">
    insert into SC020101 (SC020101_ID, FILE_SOURCE,FILE_TIME, FILE_NUM,
      FILE_NAME, FILE_URL, STATUS,
      CREATE_USER, CREATE_TIME, UPDATE_USER,
      UPDATE_TIME, DELETE_FLAG)
    values (#{sc020101Id,jdbcType=VARCHAR}, #{fileSource,jdbcType=VARCHAR}, #{fileTime,jdbcType=TIMESTAMP}, #{fileNum,jdbcType=VARCHAR},
      #{fileName,jdbcType=VARCHAR}, #{fileUrl,jdbcType=VARCHAR}, #{status,jdbcType=CHAR},
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.manager.entry.tour.DocumentShow">
    insert into SC020101
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sc020101Id != null">
        SC020101_ID,
      </if>
      <if test="fileSource != null">
        FILE_SOURCE,
      </if>
      <if test="fileTime != null">
        FILE_TIME,
      </if>
      <if test="fileNum != null">
        FILE_NUM,
      </if>
      <if test="fileName != null">
        FILE_NAME,
      </if>
      <if test="fileUrl != null">
        FILE_URL,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sc020101Id != null">
        #{sc020101Id,jdbcType=VARCHAR},
      </if>
      <if test="fileSource != null">
        #{fileSource,jdbcType=VARCHAR},
      </if>
      <if test="fileTime != null">
        #{fileTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileNum != null">
        #{fileNum,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.manager.entry.tour.DocumentShow">
    update SC020101
    <set>
      <if test="fileSource != null">
        FILE_SOURCE = #{fileSource,jdbcType=VARCHAR},
      </if>
      <if test="fileTime != null">
        FILE_Time = #{fileTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fileNum != null">
        FILE_NUM = #{fileNum,jdbcType=VARCHAR},
      </if>
      <if test="fileName != null">
        FILE_NAME = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="fileUrl != null">
        FILE_URL = #{fileUrl,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where SC020101_ID = #{sc020101Id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manager.entry.tour.DocumentShow">
    update SC020101
    set FILE_SOURCE = #{fileSource,jdbcType=VARCHAR},
      FILE_TIME = #{fileTime,jdbcType=TIMESTAMP},
      FILE_NUM = #{fileNum,jdbcType=VARCHAR},
      FILE_NAME = #{fileName,jdbcType=VARCHAR},
      FILE_URL = #{fileUrl,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      DELETE_FLAG = #{deleteFlag,jdbcType=CHAR}
    where SC020101_ID = #{sc020101Id,jdbcType=VARCHAR}
  </update>
</mapper>
