<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.tour.dao.LineShowMapper">
  <resultMap id="BaseResultMap" type="com.manager.entry.tour.LineShow">
    <constructor>
      <idArg column="SC020103_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LINE_SOURCE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LINE_NUM" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LINE_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="LINE_START_LONG" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="LINE_START_LAT" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="LINE_END_LONG" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="LINE_END_LAT" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="STATUS" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="CREATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="DELETE_FLAG" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    SC020103_ID, LINE_SOURCE, LINE_NUM, LINE_NAME, LINE_START_LONG, LINE_START_LAT, LINE_END_LONG,
    LINE_END_LAT, STATUS, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME, DELETE_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SC020103
    where SC020103_ID = #{sc020103Id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SC020103
    where SC020103_ID = #{sc020103Id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.manager.entry.tour.LineShow">
    insert into SC020103 (SC020103_ID, LINE_SOURCE, LINE_NUM,
      LINE_NAME, LINE_START_LONG, LINE_START_LAT,
      LINE_END_LONG, LINE_END_LAT, STATUS,
      CREATE_USER, CREATE_TIME, UPDATE_USER,
      UPDATE_TIME, DELETE_FLAG)
    values (#{sc020103Id,jdbcType=VARCHAR}, #{lineSource,jdbcType=VARCHAR}, #{lineNum,jdbcType=VARCHAR},
      #{lineName,jdbcType=VARCHAR}, #{lineStartLong,jdbcType=INTEGER}, #{lineStartLat,jdbcType=INTEGER},
      #{lineEndLong,jdbcType=INTEGER}, #{lineEndLat,jdbcType=INTEGER}, #{status,jdbcType=CHAR},
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.manager.entry.tour.LineShow">
    insert into SC020103
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sc020103Id != null">
        SC020103_ID,
      </if>
      <if test="lineSource != null">
        LINE_SOURCE,
      </if>
      <if test="lineNum != null">
        LINE_NUM,
      </if>
      <if test="lineName != null">
        LINE_NAME,
      </if>
      <if test="lineStartLong != null">
        LINE_START_LONG,
      </if>
      <if test="lineStartLat != null">
        LINE_START_LAT,
      </if>
      <if test="lineEndLong != null">
        LINE_END_LONG,
      </if>
      <if test="lineEndLat != null">
        LINE_END_LAT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sc020103Id != null">
        #{sc020103Id,jdbcType=VARCHAR},
      </if>
      <if test="lineSource != null">
        #{lineSource,jdbcType=VARCHAR},
      </if>
      <if test="lineNum != null">
        #{lineNum,jdbcType=VARCHAR},
      </if>
      <if test="lineName != null">
        #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="lineStartLong != null">
        #{lineStartLong,jdbcType=INTEGER},
      </if>
      <if test="lineStartLat != null">
        #{lineStartLat,jdbcType=INTEGER},
      </if>
      <if test="lineEndLong != null">
        #{lineEndLong,jdbcType=INTEGER},
      </if>
      <if test="lineEndLat != null">
        #{lineEndLat,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.manager.entry.tour.LineShow">
    update SC020103
    <set>
      <if test="lineSource != null">
        LINE_SOURCE = #{lineSource,jdbcType=VARCHAR},
      </if>
      <if test="lineNum != null">
        LINE_NUM = #{lineNum,jdbcType=VARCHAR},
      </if>
      <if test="lineName != null">
        LINE_NAME = #{lineName,jdbcType=VARCHAR},
      </if>
      <if test="lineStartLong != null">
        LINE_START_LONG = #{lineStartLong,jdbcType=INTEGER},
      </if>
      <if test="lineStartLat != null">
        LINE_START_LAT = #{lineStartLat,jdbcType=INTEGER},
      </if>
      <if test="lineEndLong != null">
        LINE_END_LONG = #{lineEndLong,jdbcType=INTEGER},
      </if>
      <if test="lineEndLat != null">
        LINE_END_LAT = #{lineEndLat,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where SC020103_ID = #{sc020103Id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manager.entry.tour.LineShow">
    update SC020103
    set LINE_SOURCE = #{lineSource,jdbcType=VARCHAR},
      LINE_NUM = #{lineNum,jdbcType=VARCHAR},
      LINE_NAME = #{lineName,jdbcType=VARCHAR},
      LINE_START_LONG = #{lineStartLong,jdbcType=INTEGER},
      LINE_START_LAT = #{lineStartLat,jdbcType=INTEGER},
      LINE_END_LONG = #{lineEndLong,jdbcType=INTEGER},
      LINE_END_LAT = #{lineEndLat,jdbcType=INTEGER},
      STATUS = #{status,jdbcType=CHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      DELETE_FLAG = #{deleteFlag,jdbcType=CHAR}
    where SC020103_ID = #{sc020103Id,jdbcType=VARCHAR}
  </update>
</mapper>
