<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manager.tour.dao.ProjectContentMapper" >
  <resultMap id="BaseResultMap" type="com.manager.entry.tour.ProjectContent">
    <constructor>
      <idArg column="SC0201_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PROJECT_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SUPER_P_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SUPER_PARENT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SUPER_P_LEVEL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SYS_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SUPER_P_CHECK" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SUPER_P_EXP" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SUPER_P_CONT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SUPER_P_SCORE" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="SUPER_P_EXPLAIN" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SUPER_P_INDICATOR" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SUPER_P_STANDARD" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="OP_UNIT" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STATUS" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="SHOW_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="IF_FILE" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="IF_PIC" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="IF_LINE" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="IF_DIST" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="SCORE" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CREATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="DELETE_FLAG" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    SC0201_ID, PROJECT_NO, SUPER_P_NO, SUPER_PARENT, SUPER_P_LEVEL, SYS_NO, SUPER_P_CHECK, SUPER_P_EXP,
    SUPER_P_CONT, SUPER_P_SCORE, SUPER_P_EXPLAIN, SUPER_P_INDICATOR, SUPER_P_STANDARD,
    OP_UNIT, STATUS, SHOW_NO, IF_FILE, IF_PIC, IF_LINE, IF_DIST, SCORE, CREATE_USER,
    CREATE_TIME, UPDATE_USER, UPDATE_TIME, DELETE_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SC0201
    where SC0201_ID = #{sc0201Id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SC0201
    where SC0201_ID = #{sc0201Id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.manager.entry.tour.ProjectContent">
    insert into SC0201 (SC0201_ID, PROJECT_NO, SUPER_P_NO, SUPER_PARENT,
      SUPER_P_LEVEL, SYS_NO, SUPER_P_CHECK,
      SUPER_P_EXP, SUPER_P_CONT, SUPER_P_SCORE,
      SUPER_P_EXPLAIN, SUPER_P_INDICATOR, SUPER_P_STANDARD,
      OP_UNIT, STATUS, SHOW_NO,
      IF_FILE, IF_PIC, IF_LINE, IF_DIST,
      SCORE, CREATE_USER, CREATE_TIME,
      UPDATE_USER, UPDATE_TIME, DELETE_FLAG
      )
    values (#{sc0201Id,jdbcType=VARCHAR}, #{projectNo,jdbcType=VARCHAR}, #{superPNo,jdbcType=VARCHAR}, #{superParent,jdbcType=VARCHAR},
      #{superPLevel,jdbcType=VARCHAR}, #{sysNo,jdbcType=VARCHAR}, #{superPCheck,jdbcType=VARCHAR},
      #{superPExp,jdbcType=VARCHAR}, #{superPCont,jdbcType=VARCHAR}, #{superPScore,jdbcType=INTEGER},
      #{superPExplain,jdbcType=VARCHAR}, #{superPIndicator,jdbcType=VARCHAR}, #{superPStandard,jdbcType=VARCHAR},
      #{opUnit,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{showNo,jdbcType=VARCHAR},
      #{ifFile,jdbcType=CHAR}, #{ifPic,jdbcType=CHAR}, #{ifLine,jdbcType=CHAR}, #{ifDist,jdbcType=CHAR},
      #{score,jdbcType=INTEGER}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.manager.entry.tour.ProjectContent">
    insert into SC0201
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sc0201Id != null">
        SC0201_ID,
      </if>
      <if test="projectNo != null">
        PROJECT_NO,
      </if>
      <if test="superParent != null">
        SUPER_PARENT,
      </if>
      <if test="superPNo != null">
        SUPER_P_NO,
      </if>
      <if test="superPLevel != null">
        SUPER_P_LEVEL,
      </if>
      <if test="sysNo != null">
        SYS_NO,
      </if>
      <if test="superPCheck != null">
        SUPER_P_CHECK,
      </if>
      <if test="superPExp != null">
        SUPER_P_EXP,
      </if>
      <if test="superPCont != null">
        SUPER_P_CONT,
      </if>
      <if test="superPScore != null">
        SUPER_P_SCORE,
      </if>
      <if test="superPExplain != null">
        SUPER_P_EXPLAIN,
      </if>
      <if test="superPIndicator != null">
        SUPER_P_INDICATOR,
      </if>
      <if test="superPStandard != null">
        SUPER_P_STANDARD,
      </if>
      <if test="opUnit != null">
        OP_UNIT,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="showNo != null">
        SHOW_NO,
      </if>
      <if test="ifFile != null">
        IF_FILE,
      </if>
      <if test="ifPic != null">
        IF_PIC,
      </if>
      <if test="ifLine != null">
        IF_LINE,
      </if>
      <if test="ifDist != null">
        IF_DIST,
      </if>
      <if test="score != null">
        SCORE,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sc0201Id != null">
        #{sc0201Id,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null">
        #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="superPNo != null">
        #{superPNo,jdbcType=VARCHAR},
      </if>
      <if test="superParent != null">
        #{superParent,jdbcType=VARCHAR},
      </if>
      <if test="superPLevel != null">
        #{superPLevel,jdbcType=VARCHAR},
      </if>
      <if test="sysNo != null">
        #{sysNo,jdbcType=VARCHAR},
      </if>
      <if test="superPCheck != null">
        #{superPCheck,jdbcType=VARCHAR},
      </if>
      <if test="superPExp != null">
        #{superPExp,jdbcType=VARCHAR},
      </if>
      <if test="superPCont != null">
        #{superPCont,jdbcType=VARCHAR},
      </if>
      <if test="superPScore != null">
        #{superPScore,jdbcType=INTEGER},
      </if>
      <if test="superPExplain != null">
        #{superPExplain,jdbcType=VARCHAR},
      </if>
      <if test="superPIndicator != null">
        #{superPIndicator,jdbcType=VARCHAR},
      </if>
      <if test="superPStandard != null">
        #{superPStandard,jdbcType=VARCHAR},
      </if>
      <if test="opUnit != null">
        #{opUnit,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="showNo != null">
        #{showNo,jdbcType=VARCHAR},
      </if>
      <if test="ifFile != null">
        #{ifFile,jdbcType=CHAR},
      </if>
      <if test="ifPic != null">
        #{ifPic,jdbcType=CHAR},
      </if>
      <if test="ifLine != null">
        #{ifLine,jdbcType=CHAR},
      </if>
      <if test="ifDist != null">
        #{ifDist,jdbcType=CHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.manager.entry.tour.ProjectContent">
    update SC0201
    <set>
      <if test="projectNo != null">
        PROJECT_NO = #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="superPNo != null">
        SUPER_P_NO = #{superPNo,jdbcType=VARCHAR},
      </if>
      <if test="superParent != null">
        SUPER_PARENT = #{superParent,jdbcType=VARCHAR},
      </if>
      <if test="superPLevel != null">
        SUPER_P_LEVEL = #{superPLevel,jdbcType=VARCHAR},
      </if>
      <if test="sysNo != null">
        SYS_NO = #{sysNo,jdbcType=VARCHAR},
      </if>
      <if test="superPCheck != null">
        SUPER_P_CHECK = #{superPCheck,jdbcType=VARCHAR},
      </if>
      <if test="superPExp != null">
        SUPER_P_EXP = #{superPExp,jdbcType=VARCHAR},
      </if>
      <if test="superPCont != null">
        SUPER_P_CONT = #{superPCont,jdbcType=VARCHAR},
      </if>
      <if test="superPScore != null">
        SUPER_P_SCORE = #{superPScore,jdbcType=INTEGER},
      </if>
      <if test="superPExplain != null">
        SUPER_P_EXPLAIN = #{superPExplain,jdbcType=VARCHAR},
      </if>
      <if test="superPIndicator != null">
        SUPER_P_INDICATOR = #{superPIndicator,jdbcType=VARCHAR},
      </if>
      <if test="superPStandard != null">
        SUPER_P_STANDARD = #{superPStandard,jdbcType=VARCHAR},
      </if>
      <if test="opUnit != null">
        OP_UNIT = #{opUnit,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="showNo != null">
        SHOW_NO = #{showNo,jdbcType=VARCHAR},
      </if>
      <if test="ifFile != null">
        IF_FILE = #{ifFile,jdbcType=CHAR},
      </if>
      <if test="ifPic != null">
        IF_PIC = #{ifPic,jdbcType=CHAR},
      </if>
      <if test="ifLine != null">
        IF_LINE = #{ifLine,jdbcType=CHAR},
      </if>
      <if test="ifDist != null">
        IF_DIST = #{ifDist,jdbcType=CHAR},
      </if>
      <if test="score != null">
        SCORE = #{score,jdbcType=INTEGER},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where SC0201_ID = #{sc0201Id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manager.entry.tour.ProjectContent">
    update SC0201
    set PROJECT_NO = #{projectNo,jdbcType=VARCHAR},
      SUPER_P_NO = #{superPNo,jdbcType=VARCHAR},
      SUPER_PARENT = #{superParent,jdbcType=VARCHAR},
      SUPER_P_LEVEL = #{superPLevel,jdbcType=VARCHAR},
      SYS_NO = #{sysNo,jdbcType=VARCHAR},
      SUPER_P_CHECK = #{superPCheck,jdbcType=VARCHAR},
      SUPER_P_EXP = #{superPExp,jdbcType=VARCHAR},
      SUPER_P_CONT = #{superPCont,jdbcType=VARCHAR},
      SUPER_P_SCORE = #{superPScore,jdbcType=INTEGER},
      SUPER_P_EXPLAIN = #{superPExplain,jdbcType=VARCHAR},
      SUPER_P_INDICATOR = #{superPIndicator,jdbcType=VARCHAR},
      SUPER_P_STANDARD = #{superPStandard,jdbcType=VARCHAR},
      OP_UNIT = #{opUnit,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      SHOW_NO = #{showNo,jdbcType=VARCHAR},
      IF_FILE = #{ifFile,jdbcType=CHAR},
      IF_PIC = #{ifPic,jdbcType=CHAR},
      IF_LINE = #{ifLine,jdbcType=CHAR},
      IF_DIST = #{ifDist,jdbcType=CHAR},
      SCORE = #{score,jdbcType=INTEGER},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      DELETE_FLAG = #{deleteFlag,jdbcType=CHAR}
    where SC0201_ID = #{sc0201Id,jdbcType=VARCHAR}
  </update>
</mapper>
