<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.tour.dao.ProjectJobMapper">
  <resultMap id="BaseResultMap" type="com.manager.entry.tour.ProjectJob">
    <constructor>
      <idArg column="SC02_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PROJECT_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PROJECT_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PROJECT_NAME_J" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="PROJECT_LONG" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="PROJECT_LAT" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="INDEX_PIC" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="ENABLE_TIME" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="DEACTI_TIME" javaType="java.util.Date" jdbcType="DATE" />
      <arg column="STATUS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="DELETE_FLAG" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    SC02_ID, PROJECT_NO, PROJECT_NAME, PROJECT_NAME_J, PROJECT_LONG, PROJECT_LAT, INDEX_PIC,
    ENABLE_TIME, DEACTI_TIME, STATUS, CREATE_USER, CREATE_TIME, UPDATE_USER, UPDATE_TIME, DELETE_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SC02
    where SC02_ID = #{sc02Id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SC02
    where SC02_ID = #{sc02Id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.manager.entry.tour.ProjectJob">
    insert into SC02 (SC02_ID, PROJECT_NO, PROJECT_NAME,
      PROJECT_NAME_J, PROJECT_LONG, PROJECT_LAT,
      INDEX_PIC, ENABLE_TIME, DEACTI_TIME, STATUS,
      CREATE_USER, CREATE_TIME, UPDATE_USER,
      UPDATE_TIME, DELETE_FLAG)
    values (#{sc02Id,jdbcType=VARCHAR}, #{projectNo,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR},
      #{projectNameJ,jdbcType=VARCHAR}, #{projectLong,jdbcType=INTEGER}, #{projectLat,jdbcType=INTEGER},
      #{indexPic,jdbcType=CHAR}, #{enableTime,jdbcType=DATE}, #{deactiTime,jdbcType=DATE}, #{status,jdbcType=VARCHAR},
      #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateUser,jdbcType=VARCHAR},
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.manager.entry.tour.ProjectJob">
    insert into SC02
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sc02Id != null">
        SC02_ID,
      </if>
      <if test="projectNo != null">
        PROJECT_NO,
      </if>
      <if test="projectName != null">
        PROJECT_NAME,
      </if>
      <if test="projectNameJ != null">
        PROJECT_NAME_J,
      </if>
      <if test="projectLong != null">
        PROJECT_LONG,
      </if>
      <if test="projectLat != null">
        PROJECT_LAT,
      </if>
      <if test="indexPic != null">
        INDEX_PIC,
      </if>
      <if test="enableTime != null">
        ENABLE_TIME,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="deactiTime != null">
        DEACTI_TIME,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sc02Id != null">
        #{sc02Id,jdbcType=VARCHAR},
      </if>
      <if test="projectNo != null">
        #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectNameJ != null">
        #{projectNameJ,jdbcType=VARCHAR},
      </if>
      <if test="projectLong != null">
        #{projectLong,jdbcType=INTEGER},
      </if>
      <if test="projectLat != null">
        #{projectLat,jdbcType=INTEGER},
      </if>
      <if test="indexPic != null">
        #{indexPic,jdbcType=CHAR},
      </if>
      <if test="enableTime != null">
        #{enableTime,jdbcType=DATE},
      </if>
      <if test="deactiTime != null">
        #{deactiTime,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=DATE},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.manager.entry.tour.ProjectJob">
    update SC02
    <set>
      <if test="projectNo != null">
        PROJECT_NO = #{projectNo,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="projectNameJ != null">
        PROJECT_NAME_J = #{projectNameJ,jdbcType=VARCHAR},
      </if>
      <if test="projectLong != null">
        PROJECT_LONG = #{projectLong,jdbcType=INTEGER},
      </if>
      <if test="projectLat != null">
        PROJECT_LAT = #{projectLat,jdbcType=INTEGER},
      </if>
      <if test="indexPic != null">
        INDEX_PIC = #{indexPic,jdbcType=CHAR},
      </if>
      <if test="enableTime != null">
        ENABLE_TIME = #{enableTime,jdbcType=DATE},
      </if>
      <if test="deactiTime != null">
        DEACTI_TIME = #{deactiTime,jdbcType=DATE},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where SC02_ID = #{sc02Id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.manager.entry.tour.ProjectJob">
    update SC02
    set PROJECT_NO = #{projectNo,jdbcType=VARCHAR},
      PROJECT_NAME = #{projectName,jdbcType=VARCHAR},
      PROJECT_NAME_J = #{projectNameJ,jdbcType=VARCHAR},
      PROJECT_LONG = #{projectLong,jdbcType=INTEGER},
      PROJECT_LAT = #{projectLat,jdbcType=INTEGER},
      INDEX_PIC = #{indexPic,jdbcType=CHAR},
      ENABLE_TIME = #{enableTime,jdbcType=DATE},
      DEACTI_TIME = #{deactiTime,jdbcType=DATE},
      STATUS = #{status,jdbcType=VARCHAR},
      CREATE_USER = #{createUser,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      DELETE_FLAG = #{deleteFlag,jdbcType=CHAR}
    where SC02_ID = #{sc02Id,jdbcType=VARCHAR}
  </update>
</mapper>
