<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.tour.dao.RegionShowMapper">
  <resultMap id="BaseResultMap" type="com.manager.entry.tour.RegionShow">
    <constructor>
      <idArg column="SC020104_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DIST_SOURCE" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DIST_NO" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DIST_CLASS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DIST_SEC_CALSS" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DIST_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DIST_START_LONG" javaType="java.lang.String" jdbcType="INTEGER" />
      <arg column="DIST_START_LAT" javaType="java.lang.String" jdbcType="INTEGER" />
      <arg column="DIST_ADRES" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DIST_PIC_URL" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="DIST_TEL" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="DIST_EXP" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="STATUS" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="CREATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CREATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="UPDATE_USER" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="UPDATE_TIME" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="DELETE_FLAG" javaType="java.lang.String" jdbcType="CHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    SC020104_ID, DIST_SOURCE, DIST_NO, DIST_CLASS, DIST_SEC_CALSS, DIST_NAME, DIST_START_LONG,
    DIST_START_LAT, DIST_ADRES, DIST_PIC_URL, DIST_TEL, DIST_EXP, STATUS, CREATE_USER,
    CREATE_TIME, UPDATE_USER, UPDATE_TIME, DELETE_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from SC020104
    where SC020104_ID = #{sc020104Id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SC020104
    where SC020104_ID = #{sc020104Id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.manager.entry.tour.RegionShow">
    insert into SC020104 (SC020104_ID, DIST_SOURCE, DIST_NO,
      DIST_CLASS, DIST_SEC_CALSS, DIST_NAME,
      DIST_START_LONG, DIST_START_LAT, DIST_ADRES,
      DIST_PIC_URL, DIST_TEL, DIST_EXP,
      STATUS, CREATE_USER, CREATE_TIME,
      UPDATE_USER, UPDATE_TIME, DELETE_FLAG
      )
    values (#{sc020104Id,jdbcType=VARCHAR}, #{distSource,jdbcType=VARCHAR}, #{distNo,jdbcType=VARCHAR},
      #{distClass,jdbcType=VARCHAR}, #{distSecCalss,jdbcType=VARCHAR}, #{distName,jdbcType=VARCHAR},
      #{distStartLong,jdbcType=VARCHAR}, #{distStartLat,jdbcType=VARCHAR}, #{distAdres,jdbcType=VARCHAR},
      #{distPicUrl,jdbcType=CHAR}, #{distTel,jdbcType=VARCHAR}, #{distExp,jdbcType=VARCHAR},
      #{status,jdbcType=CHAR}, #{createUser,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{updateUser,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.manager.entry.tour.RegionShow">
    insert into SC020104
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sc020104Id != null">
        SC020104_ID,
      </if>
      <if test="distSource != null">
        DIST_SOURCE,
      </if>
      <if test="distNo != null">
        DIST_NO,
      </if>
      <if test="distClass != null">
        DIST_CLASS,
      </if>
      <if test="distSecCalss != null">
        DIST_SEC_CALSS,
      </if>
      <if test="distName != null">
        DIST_NAME,
      </if>
      <if test="distStartLong != null">
        DIST_START_LONG,
      </if>
      <if test="distStartLat != null">
        DIST_START_LAT,
      </if>
      <if test="distAdres != null">
        DIST_ADRES,
      </if>
      <if test="distPicUrl != null">
        DIST_PIC_URL,
      </if>
      <if test="distTel != null">
        DIST_TEL,
      </if>
      <if test="distExp != null">
        DIST_EXP,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="createUser != null">
        CREATE_USER,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="updateUser != null">
        UPDATE_USER,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sc020104Id != null">
        #{sc020104Id,jdbcType=VARCHAR},
      </if>
      <if test="distSource != null">
        #{distSource,jdbcType=VARCHAR},
      </if>
      <if test="distNo != null">
        #{distNo,jdbcType=VARCHAR},
      </if>
      <if test="distClass != null">
        #{distClass,jdbcType=VARCHAR},
      </if>
      <if test="distSecCalss != null">
        #{distSecCalss,jdbcType=VARCHAR},
      </if>
      <if test="distName != null">
        #{distName,jdbcType=VARCHAR},
      </if>
      <if test="distStartLong != null">
        #{distStartLong,jdbcType=VARCHAR},
      </if>
      <if test="distStartLat != null">
        #{distStartLat,jdbcType=VARCHAR},
      </if>
      <if test="distAdres != null">
        #{distAdres,jdbcType=VARCHAR},
      </if>
      <if test="distPicUrl != null">
        #{distPicUrl,jdbcType=CHAR},
      </if>
      <if test="distTel != null">
        #{distTel,jdbcType=VARCHAR},
      </if>
      <if test="distExp != null">
        #{distExp,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.manager.entry.tour.RegionShow">
    update SC020104
    <set>
      <if test="distSource != null">
        DIST_SOURCE = #{distSource,jdbcType=VARCHAR},
      </if>
      <if test="distNo != null">
        DIST_NO = #{distNo,jdbcType=VARCHAR},
      </if>
      <if test="distClass != null">
        DIST_CLASS = #{distClass,jdbcType=VARCHAR},
      </if>
      <if test="distSecCalss != null">
        DIST_SEC_CALSS = #{distSecCalss,jdbcType=VARCHAR},
      </if>
      <if test="distName != null">
        DIST_NAME = #{distName,jdbcType=VARCHAR},
      </if>
      <if test="distStartLong != null">
        DIST_START_LONG = #{distStartLong,jdbcType=VARCHAR},
      </if>
      <if test="distStartLat != null">
        DIST_START_LAT = #{distStartLat,jdbcType=VARCHAR},
      </if>
      <if test="distAdres != null">
        DIST_ADRES = #{distAdres,jdbcType=VARCHAR},
      </if>
      <if test="distPicUrl != null">
        DIST_PIC_URL = #{distPicUrl,jdbcType=CHAR},
      </if>
      <if test="distTel != null">
        DIST_TEL = #{distTel,jdbcType=VARCHAR},
      </if>
      <if test="distExp != null">
        DIST_EXP = #{distExp,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createUser != null">
        CREATE_USER = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUser != null">
        UPDATE_USER = #{updateUser,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null">
        DELETE_FLAG = #{deleteFlag,jdbcType=CHAR},
      </if>
    </set>
    where SC020104_ID = #{sc020104Id,jdbcType=VARCHAR}
  </update>
</mapper>
